<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join ejs</title>
</head>
<body>
    <h1>Join my website</h1>
    <section class="messages"></section>
    <form action="/join" method="post">
        E-MAIL : <input type="text"><br>
        PASSWORD : <input type="password"><br>
        <input type="submit">
    </form>
</body>
</html>